@import "tailwindcss";

/* Isso faz o modo escuro por classe funcionar no Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: "Aptos", "Segoe UI Variable", "Trebuchet MS", "Verdana", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-sans);
  /* Deixamos sem background fixo aqui para o DashboardShell controlar */
}
